.touchId {
  width: 56px;
  height: 56px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid var(--neutral-300);
  color: var(--neutral-500);
}

.touchIdPopup {
  display: none;
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: var(--black);
  border-radius: 4px;
  white-space: nowrap;
}

@media (hover: hover) {
  .touchId:hover {
    color: var(--primary);
  }

  .touchId:hover + .touchIdPopup {
    display: block;
  }
}

.touchId:focus-visible {
  color: var(--primary);
  outline: none;
}
