.button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: currentColor;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
}
