.ghost {
  background-color: transparent;
  display: block;
  border-radius: 4px;
  padding: 4px;
}

.ghost:disabled {
  cursor: default;
}

@media (hover: hover) {
  .ghost:not(:disabled):hover {
    background-color: var(--neutral-300);
  }
}
