.button {
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--button-text);
}

.button:disabled {
  cursor: default;
  background-color: var(--button-disabled-background, var(--button-background));
}

.asButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/**
 * I'm so sorry, but if src/ui/ui-kit/UnstyledLink/styles.module.css gets imported
 * later than the button, and the button is used as `as={UnstyledLink}`
 * the color becomes "inherit" instead of white.
 * .primary.primary is semi-legit method to increase specificity of the class
 * If you know a better approach (e.g., guaranteeing that UnstyledLink styles get imported earlier),
 * you're welcome to refactor
 */
.primary.primary {
  --button-background: var(--black);
  --button-background-hover: var(--neutral-800);
  --button-text: var(--white);
}

.regular.regular {
  --button-background: var(--neutral-100);
  --button-background-hover: var(--neutral-200);
  --button-text: var(--black);
}

.neutral.neutral {
  --button-background: var(--neutral-100);
  --button-background-hover: var(--neutral-200);
}

.primary:disabled {
  background-color: var(--neutral-600);
  --button-text: var(--neutral-400);
}

.primary:focus-visible {
  outline: 2px solid var(--black);
  outline-offset: 2px;
}

.regular:focus-visible,
.neutral:focus-visible {
  outline: 2px solid var(--black);
  outline-offset: 2px;
}

.ghost {
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
  --button-background-hover: var(--neutral-200);
}

.ghost:not(:disabled):active {
  background-color: var(--neutral-400);
}

.danger.danger {
  --button-background: var(--negative-100);
  --button-text: var(--negative-500);
  --button-text-hover: var(--negative-600);
  --button-background-hover: var(--negative-200);
}

.danger:disabled {
  cursor: default;
  --button-disabled-background: var(--negative-300);
}

.warning.warning {
  --button-background: var(--notice-100);
  --button-text: var(--notice-500);
  --button-text-hover: var(--notice-600);
  --button-background-hover: var(--notice-200);
}

.warning:disabled {
  cursor: default;
  --button-disabled-background: var(--notice-300);
}

.text-primary {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  --button-text: var(--black);
  --button-text-hover: var(--primary);
}

@media (hover: hover) {
  .button:not(:disabled):hover {
    color: var(--button-text-hover, var(--button-text));
    background-color: var(--button-background-hover, var(--button-background));
  }
}

/** >>>> Gradient-border button */
@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}

@keyframes rotate-gradient {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.loading-border.loading-border {
  --button-background: var(--white);
  --button-text: var(--black);
  --angle: 0deg;
  background: linear-gradient(
        var(--button-background),
        var(--button-background)
      )
      padding-box,
    conic-gradient(from var(--angle), var(--neutral-300), var(--black))
      border-box;
  border: 2px solid transparent;
  border-radius: 16px;
  animation: rotate-gradient 2.5s infinite linear;
}

/** <<<< Gradient-border button */
