.banner {
  position: relative;
  padding: 20;
  border-radius: 20;
  width: 100%;
  overflow: hidden;
}

.step {
  width: 20px;
  height: 2px;
  border-radius: 12px;
}

.steps {
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
}

.closeButton {
  color: var(--always-black);
  position: absolute;
  top: 8;
  right: 8;
  border-radius: 50%;
  background-color: var(--always-white);
  padding: 4;
  width: 24;
  height: 24;
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  width: 238px;
}

@media (hover: hover) {
  .closeButton:hover {
    color: #44444e;
  }
}

.container {
  display: grid;
  position: relative;
  overflow: hidden;
  padding: 88px;
  border-radius: var(--card-border-radius);
  background-color: var(--white);
}

@keyframes appear {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.dnaPreview {
  animation: appear 400ms both ease-out;
  animation-delay: 200ms;
}

@keyframes leftArrow {
  0%,
  100% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
}

.leftArrow {
  animation: leftArrow 800ms ease-in-out infinite;
}

@keyframes rightArrow {
  0%,
  100% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
}

.rightArrow {
  animation: rightArrow 800ms ease-in-out infinite;
}
