html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  max-width: 100%;
  white-space: normal;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

:root {
  --always-white: #fff;
  --always-black: #16161a;
  --black: #16161a;
  --white: #fff;
  --whiteR: 255;
  --whiteG: 255;
  --whiteB: 255;
  --neutral-100: #f5f5f7;
  --neutral-200: #f0f0f2;
  --neutral-300: #e6e7e9;
  --neutral-400: #cdced3;
  --neutral-500: #9c9fa8;
  --neutral-600: #81848e;
  --neutral-700: #71727d;
  --neutral-800: #44444e;
  --neutral-900: #2d2d31;
  --primary-100: #f2f7ff;
  --primary-200: #e8f0ff;
  --primary-300: #c7dbff;
  --primary-400: #4375f1;
  --primary-500: #2962ef;
  --primary-600: #255ce5;
  --primary: var(--primary-500);
  --actions-default: #2962ef;
  --actions-hover: #4375f1;
  --actions-pressed: #2558d9;
  --actions-disabled: #bcd1fc;
  --actions-on-disabled: #f2f7ff;
  --z-index-0: #fff;
  --z-index-1: #fff;
  --positive-100: #edfcf2;
  --positive-200: #dbf3e5;
  --positive-300: #99dbb4;
  --positive-400: #1fc260;
  --positive-500: #01a643;
  --negative-100: #fcf2ef;
  --negative-200: #ffe6e6;
  --negative-300: #ffd0c9;
  --negative-400: #ff847b;
  --negative-500: #ff4a4a;
  --notice-100: #fff9f0;
  --notice-200: #fff1de;
  --notice-300: #fff1de;
  --notice-400: #fec375;
  --notice-500: #ff9d1c;
  --notice-600: #e58b0b;
  --elevation-100: 0px 2px 4px #16161a0f;
  --elevation-200: 0px 0px 0px 1px #15151f0f, 0px 8px 28px #16161a14;
  --elevation-300: 0px 4px 8px -2px #15151f14, 0px 24px 48px -16px #15151f3d;
  --deprecated--bl16ap8: 0px 8px 16px #15151f1f;
  --deprecated--bl8ap8: 0px 4px 8px #15151f14;
  --background: var(--neutral-100);
}

._41rCVG_theme-dark {
  color-scheme: dark;
  --black: #fff;
  --white: #16161a;
  --whiteR: 22;
  --whiteG: 22;
  --whiteB: 26;
  --neutral-100: #1d1d21;
  --neutral-200: #29292c;
  --neutral-300: #2d2d32;
  --neutral-400: #45464a;
  --neutral-500: #70737b;
  --neutral-600: #868990;
  --neutral-700: #9da0a6;
  --neutral-800: #cecfd1;
  --neutral-900: #e8e8e8;
  --primary-100: #252c3d;
  --primary-200: #26365a;
  --primary-300: #2a5a8c;
  --primary-400: #08c;
  --primary-500: #00a3f5;
  --primary: var(--primary-500);
  --actions-default: #296df5;
  --actions-hover: #3c7af6;
  --actions-pressed: #2f63ca;
  --actions-disabled: #264688;
  --actions-on-disabled: #93b3f5;
  --z-index-0: #16161a;
  --z-index-1: #1d1d21;
  --positive-100: #29342f;
  --positive-200: #2d4435;
  --positive-300: #256f44;
  --positive-400: #31b566;
  --positive-500: #4fbf67;
  --negative-100: #382328;
  --negative-200: #4e272a;
  --negative-300: #8a393b;
  --negative-400: #e85555;
  --negative-500: #ff5c5c;
  --notice-100: #352b1e;
  --notice-200: #4e371b;
  --notice-300: #8a5a1b;
  --notice-400: #d0821c;
  --notice-500: #ff9d1c;
  --notice-600: #feb85b;
  --elevation-100: 0px 2px 4px #0000003d;
  --elevation-200: 0px 8px 12px #0000001f, 0px 2px 4px #00000029, inset 0px 1px 0px #ffffff0d;
  --elevation-300: 0px 24px 48px #0000003d, 0px 4px 16px #00000029, inset 0px 1px 0px #ffffff14;
}

._41rCVG_theme-dark .theme-dark-invert {
  filter: invert() hue-rotate(180deg) contrast(90%);
}

._41rCVG_theme-dark select option {
  background-color: var(--z-index-1);
  color: var(--black);
}

* {
  box-sizing: border-box;
}

:root {
  --background: var(--neutral-100);
}

.neutral-bg {
  --background: var(--neutral-100);
}

.white-bg {
  --background: var(--white);
}

body {
  color: var(--black);
  background-color: var(--background);
  font-family: Graphik, sans-serif;
}

#root {
  height: 100%;
}

@keyframes _6cgQfa_fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: _6cgQfa_fadeIn .2s;
}

@font-face {
  font-family: Graphik;
  src: url("Graphik-Regular-Web.2471e9e3.woff2") format("woff2"), url("Graphik-Regular-Web.35b1f4a9.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("Graphik-Medium-Web.e5ea4571.woff2") format("woff2"), url("Graphik-Medium-Web.dc8ec64e.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Graphik;
  src: url("Graphik-Semibold-Web.794d33f2.woff2") format("woff2"), url("Graphik-Semibold-Web.6b9383ea.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.evbVHW_column > * {
  flex-shrink: 0;
}

.IJzU7a_button {
  border-radius: 4px;
  padding: 4px;
  display: block;
}

@media (hover: hover) {
  .IJzU7a_button:hover {
    background-color: var(--neutral-300);
  }
}

.EyUuEa_ghost {
  background-color: #0000;
  border-radius: 4px;
  padding: 4px;
  display: block;
}

@media (hover: hover) {
  .EyUuEa_ghost:hover {
    background-color: var(--neutral-300);
  }
}

.aZtxgG_wrap {
  border-bottom: 1px solid var(--neutral-300);
  display: flex;
}

.aZtxgG_wrap.aZtxgG_secondary {
  border: 1px solid var(--neutral-300);
  background-color: var(--neutral-300);
  border-radius: 8px;
  display: flex;
}

.aZtxgG_wrap:focus-within:focus-visible {
  box-shadow: 0 0 0px 1px var(--white), 0 0 0px 3px var(--primary);
}

.aZtxgG_wrap > * {
  flex: 1;
}

.aZtxgG_radio, .aZtxgG_link {
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  text-decoration: none;
  position: relative;
}

.aZtxgG_wrap.aZtxgG_secondary .aZtxgG_radio {
  height: 32px;
  white-space: nowrap;
  z-index: 2;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}

.aZtxgG_activeDecorator {
  color: #0000;
  height: 1px;
  background-color: currentColor;
}

.aZtxgG_wrap.aZtxgG_secondary .aZtxgG_activeDecorator {
  z-index: -1;
  height: calc(100% - 4px);
  border-radius: 6px;
  padding: 0 16px;
  inset: 2px;
}

.aZtxgG_radio > .aZtxgG_activeDecorator, .aZtxgG_link > .aZtxgG_activeDecorator {
  width: 100%;
  position: absolute;
  bottom: -1px;
}

.aZtxgG_wrap.aZtxgG_secondary .aZtxgG_radio > .aZtxgG_activeDecorator {
  width: calc(100% - 4px);
  bottom: 2px;
}

.aZtxgG_radio:hover .aZtxgG_activeDecorator, .aZtxgG_radio:focus-within .aZtxgG_activeDecorator, .aZtxgG_link:hover .aZtxgG_activeDecorator {
  color: var(--neutral-500);
}

.aZtxgG_wrap.aZtxgG_secondary .aZtxgG_radio:hover .aZtxgG_activeDecorator, .aZtxgG_wrap.aZtxgG_secondary .aZtxgG_radio:focus-within .aZtxgG_activeDecorator {
  color: var(--neutral-100);
}

.aZtxgG_wrap.aZtxgG_primary .aZtxgG_activeLink > .aZtxgG_activeDecorator, .aZtxgG_wrap.aZtxgG_primary .aZtxgG_input:checked + .aZtxgG_activeDecorator {
  color: var(--primary);
  height: 2px;
}

.aZtxgG_wrap.aZtxgG_secondary .aZtxgG_activeLink + .aZtxgG_activeDecorator, .aZtxgG_wrap.aZtxgG_secondary .aZtxgG_input:checked + .aZtxgG_activeDecorator {
  color: var(--white);
}

.aZtxgG_hidden {
  opacity: 0;
}

.aZtxgG_input {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
}

.kgAHAa_button {
  cursor: pointer;
  color: currentColor;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.CJjftq_option {
  width: 100%;
  text-align: start;
  padding: 6px;
  display: block;
}

.CJjftq_decoration {
  border-radius: 6px;
  padding: 6px 10px;
}

@media (hover: hover) {
  .CJjftq_option:hover .CJjftq_decoration {
    background-color: var(--neutral-200);
  }
}

.CJjftq_option {
  outline: none;
}

.CJjftq_option:focus:focus-visible .CJjftq_decoration {
  background-color: var(--neutral-200);
}

@keyframes CVpv0W_spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.CVpv0W_spinnerStyle {
  --spinner-offset: 430;
  --track-color: var(--neutral-200);
  animation: CVpv0W_spin .6s linear infinite;
  display: block;
}

@keyframes CVpv0W_dash75 {
  0% {
    stroke-dasharray: 70.6858 282.743;
  }

  50% {
    stroke-dasharray: 212.058 282.743;
  }

  100% {
    stroke-dasharray: 70.6858 282.743;
  }
}

.CVpv0W_fillStyle {
  stroke: currentColor;
  stroke-dasharray: 70.6858 282.743;
  animation: CVpv0W_dash75 2s ease-in-out infinite;
}

.CVpv0W_trackStyle {
  stroke: var(--track-color);
}

@keyframes lPas3W_twinkleAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: .2;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.lPas3W_twinkle {
  animation: lPas3W_twinkleAnimation 1s linear infinite;
}

/*# sourceMappingURL=index.843dac01.css.map */
