.actionItemBackdropButton {
  position: absolute;
  top: -8px;
  right: -12px;
  bottom: -8px;
  left: -8px;
  z-index: 0;
}

.actionItem::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -12px;
  bottom: -8px;
  left: -8px;
  border-radius: 12px;
}

.actionItem:hover::before {
  background-color: var(--neutral-200);
}
