.actionItemBackdropButton {
  position: absolute;
  top: -8px;
  right: -12px;
  bottom: -8px;
  left: -8px;
  z-index: 0;
  border-radius: 12px;
}

.actionItem {
  cursor: pointer;
  position: relative;
}

.actionItem:hover .actionItemBackdropButton {
  background-color: var(--neutral-200);
}
