@font-face {
  font-family: 'Graphik';
  src: url(./fonts/Graphik-Regular-Web.woff2) format('woff2'),
    url(./fonts/Graphik-Regular-Web.woff) format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url(./fonts/Graphik-Medium-Web.woff2) format('woff2'),
    url(./fonts/Graphik-Medium-Web.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url(./fonts/Graphik-Semibold-Web.woff2) format('woff2'),
    url(./fonts/Graphik-Semibold-Web.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
