* {
  box-sizing: border-box;
}

:root {
  --navbar-index: 2;
  --max-layout-index: 2;
  --over-layout-index: 3;
}

:global(.neutral-bg) {
  --background: var(--neutral-100);
  background-color: var(--background);
}

:global(.white-bg) {
  --background: var(--white);
  background-color: var(--background);
}

:global(.transparent-bg) {
  --background: transparent;
  background-color: var(--background);
}

body {
  font-family: Graphik, sans-serif;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: var(--black);
  background-color: var(--background);
  width: 400px;
  height: 600px;
}

body.isDialog {
  height: 100vh;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

:global(#root) {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:global(.fadeIn) {
  animation: fadeIn 0.2s;
}
