* {
  box-sizing: border-box;
}

:root {
  /* Extra stuff, to be finalized with design */
  --background: var(--neutral-100);

  --navbar-index: 2;
  --max-layout-index: 2;
  --over-layout-index: 3;
}

:global(.neutral-bg) {
  --background: var(--neutral-100);
}

:global(.white-bg) {
  --background: var(--white);
}

:global(.transparent-bg) {
  --background: transparent;
}

body {
  font-family: Graphik, sans-serif;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: var(--black);
  background-color: var(--background);
}

:global(#root) {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:global(.fadeIn) {
  animation: fadeIn 0.2s;
}
