* {
  box-sizing: border-box;
}

body {
  font-family: Graphik, sans-serif;
  color: 'var(--black)';
}

:global(#root) {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:global(.fadeIn) {
  animation: fadeIn 0.2s;
}
