.hoverNoUnderline {
  text-decoration: underline;
}

@media (hover: hover) {
  .hoverUnderline:hover {
    text-decoration: underline;
  }

  .hoverNoUnderline:hover {
    text-decoration: none;
  }
}

/* TODO: maybe applies not only for inputs */
.visuallyHiddenInput {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
