@media (hover: hover) {
  .hoverUnderline:hover {
    text-decoration: underline;
  }
}

.hoverNoUnderline {
  text-decoration: underline;
}

@media (hover: hover) {
  .hoverNoUnderline:hover {
    text-decoration: none;
  }
}
