@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  1% {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.walletNameContent {
  animation: appear 150ms ease-in-out;
  animation-fill-mode: both;
}

@media (hover: hover) {
  .link:hover {
    color: var(--black);
    background-color: var(--neutral-100);
  }
}

.networksTooltip {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  box-shadow: var(--elevation-200);
  z-index: 10;
  font-size: 12px;
  line-height: 16px;
}

.networksTooltipAmounts {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-left: 4px;
}
