@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  1% {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.walletNameContent {
  animation: appear 150ms ease-in-out;
  animation-fill-mode: both;
}

@media (hover: hover) {
  .link:hover {
    color: var(--black);
    background-color: var(--neutral-100);
  }
}
