.link {
  display: block;
  border: 2px solid var(--neutral-200);
  color: var(--neutral-700);
  padding: 8px 16px;
  border-radius: 16px;
}

.icon {
  color: var(--neutral-500);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  1% {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.walletNameContent {
  animation: appear 150ms ease-in-out;
  animation-fill-mode: both;
}

@media (hover: hover) {
  .link:hover {
    color: var(--black);
    border: 2px solid var(--neutral-100);
    background-color: var(--neutral-100);
  }
}
