.icon {
  height: 44px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  background-color: var(--white);
  color: var(--neutral-800);
  box-shadow: 0px 2px 4px rgba(22, 22, 26, 0.06);
}

.actionButton:focus {
  outline: none;
}

.actionButton:focus:focus-visible .icon {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.actionButton:active .icon {
  background-color: var(--neutral-300);
}

@media (hover: hover) {
  .actionButton:not(:disabled):hover {
    color: var(--primary);
  }
  .actionButton:not(:disabled):hover .icon {
    color: var(--primary);
  }
}
