.containerRoot {
  container-name: action-buttons-row;
  container-type: inline-size;
}

.list {
  display: grid;
  gap: 8;
  grid-template-columns: repeat(5, 48px);
  justify-content: space-between;
}

.hideWhenSmall {
  display: none;
}

@container action-buttons-row (width > 390px) {
  .list {
    grid-template-columns: repeat(3, 48px) minmax(100px, 225px);
    justify-content: start;
  }
  .hideWhenSmall {
    display: block;
  }
  .showWhenSmall {
    display: none;
  }
}

.actionButton {
  --btn-bg-color: var(--neutral-100);
  --btn-active-bg-color: var(--neutral-300);
  --btn-color: var(--neutral-800);
}

.actionButtonPrimary {
  --btn-bg-color: var(--black);
  --btn-active-bg-color: var(--black);
  --btn-color: var(--white);
}

.icon {
  height: 48px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
}

.icon svg {
  height: 20px;
  width: 20px;
}

.actionButton:focus {
  outline: none;
}

.actionButton:focus:focus-visible .icon {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.actionButton:active .icon {
  background-color: var(--btn-active-bg-color);
}

@media (hover: hover) {
  .actionButton:not(:disabled):hover .icon {
    background-color: var(--btn-active-bg-color);
  }
}
