.actionButton {
  --btn-bg-color: var(--neutral-200);
  --btn-active-bg-color: var(--neutral-300);
}

.icon {
  height: 48px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: var(--btn-bg-color);
  color: var(--neutral-800);
}

.icon svg {
  height: 20px;
  width: 20px;
}

.actionButton:focus {
  outline: none;
}

.actionButton:focus:focus-visible .icon {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.actionButton:active .icon {
  background-color: var(--btn-active-bg-color);
}

@media (hover: hover) {
  .actionButton:not(:disabled):hover .icon {
    background-color: var(--neutral-300);
  }
}
