.radio {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--neutral-200);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radio:has(input[type='radio']:checked) {
  border: 1px solid var(--primary);
}

/* .radio:focus-within { */
/*   outline: 1px solid var(--primary); */
/*   outline-offset: 2px; */
/* } */
