@keyframes twinkleAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.2;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.twinkle {
  animation: twinkleAnimation 1000ms infinite linear;
}
