.formContainer {
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  background-color: var(--white);
}

.absoluteFooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-inline: 16px;
  background-color: var(--light-background-transparent);
  backdrop-filter: blur(16px);
}

.reverseButton {
  position: absolute;
  /* half self height and half gap between inputs */
  bottom: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: var(--white);
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: 2px solid var(--neutral-100);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media (hover: hover) {
  .reverseButton:hover {
    background-color: var(--neutral-100);
  }
}

.skeleton {
  background-color: var(--neutral-100);
  border-radius: 6px;
}

.skeletonCircle {
  background-color: var(--neutral-100);
  border-radius: 50%;
}

.skeletonDetails {
  border: 2px solid var(--neutral-200);
  border-radius: 20px;
  padding: 16px;
  background-color: var(--white);
}

.skeletonDetailsToggleWrapper {
  display: flex;
  justify-content: center;
  margin-top: -14px;
}

.skeletonDetailsToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 16px;
  border: 2px solid var(--neutral-200);
  background-color: var(--white);
  height: 24px;
}
