@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.skeleton {
  animation: blink 1s ease-in-out infinite;
}

.visible {
  max-height: 400px;
  padding: 0 16px 16px;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
}

.marking {
  animation: blink 500ms ease-in-out infinite;
  pointer-events: none;
}

.completed {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.95);
  opacity: 0.8;
  padding: 0 16px;
  transition: max-height 500ms, transform 500ms, filter 500ms, opacity 500ms,
    padding 500ms;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.2;
  }
}

.completed::after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--positive-500);
  animation: appear 500ms;
}

.dismissed {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.95);
  opacity: 0.8;
  padding: 0 16px;
  transition: max-height 500ms, transform 500ms, filter 500ms, opacity 500ms,
    padding 500ms;
}

.dismissed::after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--neutral-500);
  animation: appear 500ms;
}

.restored {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  opacity: 0.8;
  padding: 0 16px;
  transition: max-height 500ms, transform 500ms, filter 500ms, opacity 500ms,
    padding 500ms;
}
