.onboardingStep {
  text-align: center;
}

.gradientText {
  background: linear-gradient(90deg, #a024ef 0%, #fdbb6c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.coverImage {
  position: relative;
  left: -16px;
  width: calc(100% + 32px);
  objectfit: cover;
}

.progressCounter {
  position: relative;
}

.progressCounterValue {
  position: absolute;
  top: 12px;
  left: 22px;
}

.animatedList {
}

.criteriaItem {
  padding: 12px;
  background: var(--white);
  box-shadow: var(--elevation-200);
  border-radius: 16px;
}

.criteriaImage {
  width: 36px;
  height: 36px;
  padding: 8px;
  background: var(--neutral-200);
  border-radius: 8px;
  text-align: center;
}
