.bannerContainer {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background: #ffd7ff;
}

.bannerLink {
  display: block;
  position: relative;
  z-index: 1;
}

.bannerContent {
  padding: 12px 16px;
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  z-index: 1;
}

.closeButton {
  color: var(--always-white);
  position: absolute;
  top: 12px;
  right: 12px;
  width: 16px;
  height: 16px;
  z-index: 1;
}
