.speechBubble {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--neutral-100);
  overflow: auto;
  word-break: break-word;
}

.angle {
  position: absolute;
  top: -8px;
  left: 10%;
  color: var(--neutral-100);
}
