.link {
  outline: none;
  color: var(--black);
}

.link:hover,
.link:focus {
  color: var(--always-white);
}

.option {
  position: relative;
  padding-top: 36px;
  padding-inline: 8px;
  border-radius: 20px;
  background-color: var(--white);
  overflow: hidden;
  transition: background-color 300ms ease-in-out;
  justify-content: center;
}

.option::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.link:hover .option::before,
.link:focus .option::before {
  opacity: 1;
}

.title {
  z-index: 2;
  transition: color 200ms ease-in-out;
}

.createImg {
  z-index: 2;
  width: 143px;
  height: 113px;
}

.importImg {
  z-index: 2;
  width: 149px;
  height: 118px;
}

.hardwareImg {
  z-index: 2;
  width: 204px;
}

.createIcon {
  top: 42px;
  left: 117px;
}

.importIcon {
  top: 37px;
  left: 85px;
}

.hardwareIcon {
  top: 35px;
  left: 90px;
}

.secondaryIcon {
  color: var(--neutral-200);
  transition: color 200ms ease-in-out;
}

.link:hover .secondaryIcon,
.link:focus .secondaryIcon {
  color: var(--always-white);
}

.subtitle {
  color: var(--neutral-500);
}
.link:hover .subtitle {
  color: var(--always-white);
}

.link:hover .option,
.link:focus .option {
  background-color: transparent;
}

.create::before {
  background: linear-gradient(180deg, #56acff 0%, #3232dc 100%);
}

.import::before {
  background: linear-gradient(180deg, #3232dc 0%, #ff7583 100%);
}

.hardware::before {
  background: linear-gradient(180deg, #3232dc 0%, #06003c 100%);
}
