.gradientText {
  background: linear-gradient(
    80deg,
    #cd657f 7.13%,
    #8a6df1 34.59%,
    #71a1f3 62.04%,
    #3bb1ed 90.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.radio {
  position: relative;
  cursor: pointer;
  border: 2px solid var(--neutral-200);
  border-radius: 12px;
  padding: 10px;
}

.radio input[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radio:has(input[type='radio']:checked) {
  border: 1px solid var(--primary);
  padding: 11px;
  color: var(--primary);
}

.bestRateBadge {
  background-color: var(--black);
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  top: -7px;
  right: -1px;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.2px;
  color: var(--white);
}

.radio:has(input[type='radio']:checked) .bestRateBadge {
  background-color: var(--primary);
  top: -6px;
  right: 0px;
}

.iconLoading {
  animation: flicker 2s ease-in-out infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@property --countdown-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.iconCountdown::before {
  content: '';
  inset: -2px;
  border-radius: 6px;

  position: absolute;
  animation: countdown-border 20s linear forwards infinite;
  background: conic-gradient(
    var(--neutral-400) 0deg,
    var(--neutral-400) var(--countdown-angle),
    transparent var(--countdown-angle),
    transparent 360deg
  );
}

@keyframes countdown-border {
  from {
    --countdown-angle: 0deg;
  }
  to {
    --countdown-angle: 360deg;
  }
}
