.link {
  outline: none;
  color: var(--black);
}

.link:hover,
.link:focus {
  color: var(--always-white);
}

.option {
  position: relative;
  padding-top: 36;
  border-radius: 20;
  background-color: var(--white);
  overflow: hidden;
  transition: background-color 300ms ease-in-out;
  justify-content: center;
}

.option::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.link:hover .option::before,
.link:focus .option::before {
  opacity: 1;
}

.title {
  z-index: 2;
  transition: color 200ms ease-in-out;
}

.createImg {
  z-index: 2;
  width: 143;
  height: 113;
}

.importImg {
  z-index: 2;
  width: 149;
  height: 118;
}

.hardwareImg {
  z-index: 2;
  width: 116;
  height: 121;
}

.createIcon {
  top: 42;
  left: 117;
}

.importIcon {
  top: 37;
  left: 85;
}

.hardwareIcon {
  top: 35;
  left: 70;
}

.secondaryIcon {
  color: var(--neutral-200);
  transition: color 200ms ease-in-out;
}

.link:hover .secondaryIcon,
.link:focus .secondaryIcon {
  color: var(--always-white);
}

.link:hover .option,
.link:focus .option {
  background-color: transparent;
}

.create::before {
  background: linear-gradient(180deg, #56acff 0%, #3232dc 100%);
}

.import::before {
  background: linear-gradient(180deg, #3232dc 0%, #ff7583 100%);
}

.hardware::before {
  background: linear-gradient(180deg, #3232dc 0%, #06003c 100%);
}
