.container {
  background: linear-gradient(112.46deg, #0a0a9b 0%, #06003c 75.74%), #06003c;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 80px 24px 0;
  height: 500px;
  color: var(--always-white);
}

.input {
  border: none;
  box-shadow: none;
  text-align: center;
  padding: 10px 12px;
  width: 100%;
  background: var(--always-white);
  color: var(--always-black);
  border-radius: 8px;
}

.faqButton {
  background: linear-gradient(0deg, #07013d, #07013d),
    linear-gradient(272.02deg, #ff7583 0%, #3232dc 100%);
  border-radius: 20px;
  padding: 24px;
}

.arrow {
  background: rgba(245, 245, 247, 0.4);
  border-radius: 8px;
  display: flex;
  width: 32px;
  height: 32px;
  padding: 6px;
}

.faqButton:hover .arrow {
  background: rgba(245, 245, 247, 0.6);
}

@media (max-width: 768px) {
  .container {
    height: auto;
    padding: 60px 24px;
  }
}
