@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.loadingShield {
  width: 16px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  mask: url('./shield-mask.svg') center/contain no-repeat;
  -webkit-mask: url('./shield-mask.svg') center/contain no-repeat;
}

.loadingShield div {
  background: conic-gradient(var(--black), var(--white));
  animation: rotate 1s linear infinite;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateY(-75%) scale(1);
  }
}

@keyframes subtlePulse {
  0% {
    opacity: 1;
    transform: translateY(-75%) scale(1);
  }
  50% {
    opacity: 0.85;
    transform: translateY(-75%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(-75%) scale(1);
  }
}

.backgroundGradientContainer {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.backgroundGradient {
  flex-shrink: 0;
  width: 1000px;
  height: 400px;
  position: relative;
  background: radial-gradient(
    circle at 50% 50%,
    var(--positive-500) 0%,
    transparent 45%
  );
  animation: appear 2s cubic-bezier(0.34, 1.56, 0.64, 1) both,
    subtlePulse 2s ease-in-out 2s infinite;
}
