.wallet,
.portfolio {
  border: 2px solid var(--neutral-200);
}

.portfolio {
  background-color: var(--neutral-200);
  padding: 12;
  border-radius: 20;
  width: '100%';
  margin-block: 4;
}

@media (hover: hover) {
  .wallet:has(.addressHint:hover) {
    --copy-button-text-color: var(--black);
  }
}

@supports (anchor-name: --name) {
  @media (hover: hover) {
    .wallet:has(.addressHint:hover) + * {
      --copy-button-text-color: var(--black);
    }
  }
}
