.card {
  padding-bottom: 32px;
  border-radius: 20px;
  overflow: hidden;
  width: 338px;
  height: 288px;
  background-color: var(--primary-100);
}

.cardImg {
  width: 100%;
  object-fit: cover;
}

.faqIcon {
  border-radius: 20px;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--neutral-100);
  display: flex;
}
