.bannerContainer {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(287.06deg, #191011 32.8%, #fe5161 172.2%);
}

.bannerLink {
  display: block;
  position: relative;
  z-index: 1;
}

.image {
  position: absolute;
  right: 24px;
  bottom: 0;
  object-fit: contain;
  z-index: 1;
}

.closeButton {
  background: var(--always-white);
  color: var(--always-black);
  border-radius: 50%;
  position: absolute;
  padding: 4px;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  z-index: 1;
}
