@property --progress {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes headerTransition {
  to {
    --progress: 1;
  }
}

.headerContainer {
  position: relative;
  animation-range: 40px 50px;
  animation-timeline: scroll();
  animation-fill-mode: both;
  animation-name: headerTransition;
  animation-duration: 1ms;
}

.header {
  height: 40px;
  position: relative;
  transition: --progress 0.15s linear;
  opacity: var(--progress);
  transform: translateY(calc((1 - var(--progress)) * 50%))
    scale(calc(0.5 + (var(--progress) * 0.5)));
}

.defaultHeader {
  position: absolute;
  inset: 0 0 0 8px;
  transition: --progress 0.15s linear;
  opacity: calc(1 - var(--progress));
  transform-origin: 0 0;
  transform: translateY(calc((var(--progress)) * -100%))
    scale(calc(1 - (var(--progress) * 0.5)));
}

.historyItem {
  position: relative;
  padding-inline: 12px;
  margin-inline: 4px;
}

@media (hover: hover) {
  .historyItem:hover .historyItemBackdrop {
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--neutral-200);
    border-radius: 12px;
  }
}

.gradientText {
  background: linear-gradient(
    80deg,
    #cd657f 7.13%,
    #8a6df1 34.59%,
    #71a1f3 62.04%,
    #3bb1ed 90.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.statsContainer {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  -webkit-overflow-scrolling: touch; /* iOS smooth scrolling */
  user-select: none; /* Prevent text selection during drag */
}

/* Hide scrollbar for Webkit browsers */
.statsContainer::-webkit-scrollbar {
  display: none;
}
