@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  1% {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.assetHeaderContent {
  animation: appear 150ms ease-in-out;
  animation-fill-mode: both;
}

.historyItem {
  position: relative;
  padding-inline: 12px;
  margin-inline: 4px;
}

@media (hover: hover) {
  .historyItem:hover .historyItemBackdrop {
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--neutral-200);
    border-radius: 12px;
  }
}

.gradientText {
  background: linear-gradient(
    80deg,
    #cd657f 7.13%,
    #8a6df1 34.59%,
    #71a1f3 62.04%,
    #3bb1ed 90.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
