.historyItem {
  position: relative;
}

@media (hover: hover) {
  .historyItem:hover .historyItemBackdrop {
    position: absolute;
    top: 4px;
    right: -12px;
    bottom: 4px;
    left: -12px;
    background-color: var(--neutral-200);
    border-radius: 12px;
  }
}
