name: Build and push QA build

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
    inputs:
      BACKEND_ENV:
        default: ''
        description: 'Backend env for special features'
        required: false
      DEFI_SDK_API_URL:
        default: wss://api-v4.zerion.io/
        description: 'Zerion API'
        required: true
      DEFI_SDK_TESTNET_API_URL:
        default: wss://api-testnet.zerion.io/
        description: 'Zerion API Testnet'
        required: true
      ZERION_API_URL:
        default: https://zpi.zerion.io/
        description: 'Zerion REST API'
        required: true
      ZERION_TESTNET_API_URL:
        default: https://zpi-testnet.zerion.io/
        description: 'Zerion REST API'
        required: true
      PROXY_URL:
        default: https://proxy.zerion.io/
        description: 'Proxy API'
        required: true
      DEFI_SDK_TRANSACTIONS_API_URL:
        default: https://transactions.zerion.io
        description: 'Transaction Builder API'
        required: true
      SOCIAL_API_URL:
        default: https://social.zerion.io/
        description: 'Zerion Social API'
        required: true
      PR_NUMBER:
        default: ''
        description: 'Pull request to attach the build to, e.g. 468'
        required: false

jobs:
  build_pull_request:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

        # Because of the logic about changing the icon during the active/disabled icon setup, we can't only change the icon in the manifest
        # So the alternative way to do this is to replace the files with the icon in the workflow
      - name: Replace icon with QA icon
        run: |
          cp ./src/images/logo-icon-qa.png ./src/images/logo-icon-16.png
          cp ./src/images/logo-icon-qa.png ./src/images/logo-icon-32.png
          cp ./src/images/logo-icon-qa.png ./src/images/logo-icon-48.png
          cp ./src/images/logo-icon-qa.png ./src/images/logo-icon-128.png

      - name: Install dependencies and build
        env:
          DEFI_SDK_API_URL: ${{ github.event.inputs.DEFI_SDK_API_URL || 'wss://api-v4.zerion.io/' }}
          DEFI_SDK_TESTNET_API_URL: ${{ github.event.inputs.DEFI_SDK_TESTNET_API_URL || 'wss://api-testnet.zerion.io/' }}
          ZERION_API_URL: ${{ github.event.inputs.ZERION_API_URL || 'https://zpi.zerion.io/' }}
          ZERION_TESTNET_API_URL: ${{ github.event.inputs.ZERION_TESTNET_API_URL || 'https://zpi-testnet.zerion.io/' }}
          BACKEND_ENV: ${{ github.event.inputs.BACKEND_ENV || '' }}
          PROXY_URL: ${{ github.event.inputs.PROXY_URL || 'https://proxy.zerion.io/' }}
          DEFI_SDK_TRANSACTIONS_API_URL: ${{ github.event.inputs.DEFI_SDK_TRANSACTIONS_API_URL || 'https://transactions.zerion.io' }}
          DEFI_SDK_API_TOKEN: Zerion.0JOY6zZTTw6yl5Cvz9sdmXc7d5AhzVMG
          SOCIAL_API_URL: ${{ github.event.inputs.SOCIAL_API_URL || 'https://social.zerion.io/' }}
          TEST_WALLET_ADDRESS: ${{ secrets.TEST_WALLET_ADDRESS }}
          FEATURE_FOOTER_BUG_BUTTON: off
          MIXPANEL_TOKEN_PUBLIC: ${{ secrets.MIXPANEL_TOKEN_PUBLIC_DEV }}
          FEATURE_LOYALTY_FLOW: on
          FEATURE_BRIDGE_FORM: on
        run: |
          npm install
          npm run build:production

      - name: Update Dev Manifest file
        if: ${{ success() }}
        env:
          GIT_BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
        run: node ./scripts/update-dev-manifest.js

      - name: Push Build to QA Repository
        if: ${{ success() }}
        uses: ./.github/actions/push_qa_repo
        with:
          branch_name: ${{ github.head_ref || github.ref_name }}
          commit_message: 'PR #${{ github.event.pull_request.number }} - COMMIT ${{ github.event.head_commit.message }}'
          pat_token: ${{ secrets.QA_REPOSITORY_PAT }}
