.reverseButton {
  position: absolute;
  /* half self height and half gap between inputs */
  bottom: calc(0px - 20px - 2px);
  left: calc(50% - 20px);
  background-color: var(--neutral-100);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

@media (hover: hover) {
  .reverseButton:hover {
    box-shadow: 0 0 0px 1px var(--neutral-400) inset;
  }
}

.arcParent {
  position: relative;
}
.bottomArc,
.topArc {
  opacity: 0;
}

@media (hover: hover) {
  .arcParent:hover .bottomArc,
  .arcParent:hover .topArc {
    opacity: 1;
  }
}

.gradientText {
  background: linear-gradient(
    80deg,
    #cd657f 7.13%,
    #8a6df1 34.59%,
    #71a1f3 62.04%,
    #3bb1ed 90.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
